<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilt Free Gourmet</title>
</head>
<body>
    <nav class="class">

    </nav>
    <main class="class">
        
    </main>
</body>
</html>