 <!-- this is the body of the discover new recipe page -->
    <div class="container">
      <div class="is-justify-content-center is-align-content-center" id="intro-page">
        <h2 class="text-center">Discover New Recipes</h2>
        <div>
            <!-- this is where we will put the spi in a container that scrolls -->
        </div>
          
    </div>
      </div>
    </div>