<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/public/css/">
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="/public/js/jass.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Guilt Free Gourmet</title>
</head>

<body>
  <nav class=" bg-gradient-to-r from-lime-500 to-amber-500">
    <div class="navbar-brand">
        <p class="font-bold text-2xl mx-5 my-2">Guilt Free Gourmet</p>
      
      <!-- <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div> -->
  
    
      <div class="mr-6  mt-1.5 navbar-end dropdown is-hoverable ">
        <div class="dropdown-trigger">
          <button class="button bg-amber-50 hover:bg-amber-100" >
            <p class="">Menu</p>
            <!-- <span class="">
              <i class="" aria-hidden="true"></i>
            </span> -->
          </button>
        </div>
        <div class="dropdown-menu " id="dropdown-menu4" role="menu">
          <div class="dropdown-content bg-amber-50 ">
            <div class="dropdown-item">
                <ul hover:text-yellow-400>Explore Recipes</ul>
                <ul>Log In</ul>
                <ul>My Profile</ul>
                <ul>Create Recipe</ul>
                <ul>Log Out</ul>
          </div>
        </div>
    </div>
      
  </nav>
<style>.hero {
    background: black url(/public/images/rawfoodonwood.jpg) center / cover;
}
@media (max-width: 1024px) { .hero  { background:  black url(/public/images/rawfoodonwood.jpg) center / cover; } }
@media (max-width: 768px) { .hero  { background: black url(/public/images/rawfoodonwood.jpg ) center / cover; } }</style>
  
  <section class="hero is-fullheight" >


    <!-- This is the landing page body with our about section -->
   
  
 


  <div class="container my-20">
    <div class="is-justify-content-center is-align-content-center" id="intro-page">
      <h2 class="text-center font-bold text-xl my-4 text-amber-300">Welcome to Guilt Free Gourmet</h2>
      <div class="text-justify font-medium mb-8 mx-16">
        <p class="">Guilt Free Gourmet is a platform for discovering new recipes that fit your lifestyle needs while also allowing you to save your new found discoveries as well as allowing users to add thier own recipies to their progfile for an organized all in one place for all your recipes to be kept. For full access please sign up or log in or simply enjoy discovering new recipes to try.</p>
      </div>
      <!-- <div class="control">
        <button id="loginBtn" class="button is-warning has-text-black font-medium mx-16">Log In</button>
      </div>
      <div class="control">
        <button id="Discover Recipes" class="button is-warning has-text-black font-medium mx-16">Discover Recipes</button>
      </div> -->
    </div>
  </div>
 
 

  <div>
     <p class="text-center has-text-white">&copy; 2024 Guilt Free Gourmet</p>
  </div>

</body>
</html>