<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <title>Guilt Free Gourmet</title>
</head>
<body id="main-body">
    <header>
        <h2>Guilt Free Gourmet</h2>
        <img src="image/food.jpg" alt="Search" />
    </header>
    <section class='container'>
         <div class='search'>
            <input type="text" placeholder="Search Favorite" autofocus />
            <button class="btn">Find</button>
         <idv id="recipe-container">
            <div class="recipe">
                <div class="recipe-title">Recipe Title</div>
                <div class="recipe-image">
                    <img src="image/recipe.jpg" alt="Recipe" />
                </div>
                <div class="recipe-text"></div>
                <ul>
                    <li>Ingredients</li>
                    <li>How to</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
            
         </div>
    </section>
    </div>  

    <footer>
        <p>&copy; 2024 Guilt Free Gourmet</p>
</body>
</html>