<div class="wrapper">
       <header>
         <h2 class="text-center is-size-4 has-text-white  font-semibold">Welcome, please log in or sign up to enjoy full access!</h2>

       </header>

       <section class="columns">
           <form class="form column text-center signUpForm" id="intro-page">
            <strong class="text-red-500 is-size-5">Sign Up</strong>
             <!-- // Name Input -->
             <div class="field">
              <label class="label has-text-white my-4">Name</label>
              <div>
                <input class="input" type="text" placeholder="Name" id="nameLogin">
              </div>
            </div> 
            <div class="field">
              <label class="label has-text-white my-4">Email</label>
              <div>
                <input class="input" type="email" placeholder="Email " id="signUpEmail">
              </div>
              <div class="field">
                <label class="label has-text-white my-4">Password</label>
                  <input class="input" type="password" placeholder="Password" id="signUpPass">
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-success" id="signUpBtn">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-link is-danger">Cancel</button>
                </div>
              </div>
            </div> 
           </form>




           <form class="form column text-center logInForm" id="intro-page-1">
            <strong class="text-lime-500 is-size-5">Log In</strong>
             <!-- // Name Input -->
            <div class="field">
              <label class="label has-text-white my-4">Email</label>
              <div>
                <input class="input" type="email" placeholder="Email " id="loginEmail">
              </div>
              <div class="field">
                <label class="label has-text-white my-4">Password</label>
                  <input class="input" type="password" placeholder="Password" id="loginPass">
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-success" id="loginBtn">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-link is-danger">Cancel</button>
                </div>
              </div>
            </div> 
           </form>
           
       </section>
       <script src="./js/login.js"></script>
   </div>
   <div>
       <p class="text-center has-text-white">&copy; 2024 Guilt Free Gourmet</p>
    </div>
