 <!-- this section below is for the log in body -->

  <body id="main-body"> 
    <div class="wrapper">
       <header>
         <h2 class="text-center is-size-5 text-amber-300  font-semibold">Welcome, {{name}}!</h2>

       </header>

       <section class="columns">
           <div class="column text-center" id="intro-page">
            <strong class="text-lime-500 is-size-5">Sign Up</strong>
             <!-- // Name Input -->
             <div class="field">
              <label class="label has-text-white my-4">Name</label>
              <div>
                <input class="input" type="text" placeholder="Name">
              </div>
            </div> 
            <div class="field">
              <label class="label has-text-white my-4">Email</label>
              <div>
                <input class="input" type="email" placeholder="Email ">
              </div>
              <div class="field">
                <label class="label has-text-white my-4">Password</label>
                  <input class="input" type="password" placeholder="Password">
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-success">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-link is-danger">Cancel</button>
                </div>
              </div>
            </div> 
           </div>




           <div class="column text-center" id="intro-page">
            <strong class="text-lime-500 is-size-5">Log In</strong>
             <!-- // Name Input -->
            <div class="field">
              <label class="label has-text-white my-4">Email</label>
              <div>
                <input class="input" type="email" placeholder="Email ">
              </div>
              <div class="field">
                <label class="label has-text-white my-4">Password</label>
                  <input class="input" type="password" placeholder="Password">
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-success">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-link is-danger">Cancel</button>
                </div>
              </div>
            </div> 
           </div>
           
       </section>
   </div>
   <div>
       <p class="text-center has-text-white">&copy; 2024 Guilt Free Gourmet</p>
    </div>
</section>
</body>
</html>